:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
h2 {
    font-size: 34px;
    font-weight: 400;
    color: #4a738f;
    border-bottom: 1px solid #4a738f52;

}
h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin:0;
    padding:0;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    .star {
        color: #ffffff;
        &.filled {
            color: #cc2b2b;
        }
    }
}
@media screen and (max-width: 768px) {
    #root {
        flex-direction: column;
    }
}
a {
    color: #333;
    font-style: italic;
}
